Weather_Channel_appian_20260514_081550 (1)/datatype/%7Burn%3Acom%3Aappian%3Atypes%3AWEC%7DWEC_WEATHERQUERY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:WEC"
  xmlns:tns="urn:com:appian:types:WEC" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="WEC_WEATHERQUERY">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="WEC_WEATHERQUERY")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>3bb7ef81-30ac-4fdd-a63a-c14ceeb6d24d</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="3bb7ef81-30ac-4fdd-a63a-c14ceeb6d24d"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name=&quot;ID&quot;, nullable=false, unique=true, columnDefinition=&quot;INT&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cityName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CITY_NAME&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="temperatureScale" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;TEMPERATURE_SCALE&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queryTimestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;QUERY_TIMESTAMP&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queryStatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;QUERY_STATUS&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
