Weather_Channel_appian_20260514_081550 (1)/datatype/%7Burn%3Acom%3Aappian%3Atypes%3AWEC%7DWEC_CITY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:WEC"
  xmlns:tns="urn:com:appian:types:WEC" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="WEC_CITY">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="WEC_CITY")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>14adeac8-1b30-4f26-a403-49e0ff5ffb33</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="14adeac8-1b30-4f26-a403-49e0ff5ffb33"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name=&quot;ID&quot;, nullable=false, unique=true, columnDefinition=&quot;INT&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cityName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CITY_NAME&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;COUNTRY_CODE&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="longitude" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;LONGITUDE&quot;, columnDefinition=&quot;DECIMAL(19,4)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="latitude" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;LATITUDE&quot;, columnDefinition=&quot;DECIMAL(19,4)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timezone" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;TIMEZONE&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;IS_ACTIVE&quot;, columnDefinition=&quot;BIT&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
