Weather_Channel_appian_20260514_081550 (1)/datatype/%7Burn%3Acom%3Aappian%3Atypes%3AWEC%7DWEC_USERPREFERENCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:WEC"
  xmlns:tns="urn:com:appian:types:WEC" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="WEC_USERPREFERENCE">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="WEC_USERPREFERENCE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>7c00413f-fabf-4587-8f10-430237a59ddf</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="7c00413f-fabf-4587-8f10-430237a59ddf"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name=&quot;ID&quot;, nullable=false, unique=true, columnDefinition=&quot;INT&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="userName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;USER_NAME&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="defaultTemperatureScale" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;DEFAULT_TEMPERATURE_SCALE&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="favoriteCities" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;FAVORITE_CITIES&quot;, columnDefinition=&quot;VARCHAR(4000)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notificationsEnabled" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;NOTIFICATIONS_ENABLED&quot;, columnDefinition=&quot;BIT&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;CREATED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_BY&quot;, columnDefinition=&quot;VARCHAR(255)&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name=&quot;MODIFIED_ON&quot;, columnDefinition=&quot;DATETIME&quot;)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
